.back-to-top {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.back-to-top-link {
  background: none;
  border: none;
  color: #6b5cff;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: none;
}