.App {
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
}


.page-content {
  flex: 1;
}

/* Mobile only */
@media (max-width: 900px) {
  .page-content {
    margin-top: 64px; /* same height as .topbar */
  }
}
